<launch>



	<node pkg="custom_description" type="follow_edge_node" name="followEdge" output="screen">
		<remap from="followEdge/vel" to="cmd_vel_mux/follow_edge" />
	</node>
	<node pkg="custom_description" type="keyControl" name="keyControl" launch-prefix="xterm -e">
		<param name="scale_linear" value="0.3" />
		<param name="scale_angular" value="0.3" />
		<remap from="keyControl/cmd_vel" to="cmd_vel_mux/remotControl" />
	</node>
	<!--<param name="robot_description" command="$(find xacro)/xacro.py '$(find custom_description)/description/real.xacro'" />
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="publish_frequency" type="double" value="100" />
	</node>-->
	<!--<node pkg="rviz" name="view" type="rviz" args="-d $(find custom_description)/real.rviz" />-->
</launch>