<launch>
	<!-- <rosparam file="$(find config)/param/config.yaml" command="load"/> -->
	<node pkg="comm_for_m3" name="uart_m3" type="uart_m3.py" output="screen" respawn="true" />
	<node pkg="version_m3" name="upgrade_m3" type="upgrade_m3.py" output="screen" respawn="true" />
	<include file="$(find kobuki_node)/launch/minimal.launch" />
	<node pkg="nodelet" type="nodelet" name="cmd_vel_mux" args="load yocs_cmd_vel_mux/CmdVelMuxNodelet mobile_base_nodelet_manager">
		<param name="yaml_cfg_file" value="$(find custom_description)/param/velocity_mux.yaml" />
		<remap from="cmd_vel_mux/output/cmd_vel" to="mobile_base/commands/velocity" />
	</node>
	
	<node pkg="moveaction" type="sonar.py" name="sonar" output="screen">
	</node>

	<!--<node pkg="custom_description" type="testVerifyShape" name="testVerifyShape" output="screen">-->


    <!--<node pkg="custom_description" type="follow_edge_node" name="followEdge" output="screen">
		<remap from="followEdge/vel" to="cmd_vel_mux/follow_edge" />
	</node>-->

    <!--<arg name="odom_frame_id" default="/odom" />
	<arg name="base_frame_id" default="/base_link" />
	<arg name="global_frame_id" default="/odom" />
	<arg name="custom_param_file" default="$(find custom_description)/param/dummy.yaml" />

	<node name="map_server" pkg="map_server" type="map_server" args="$(find custom_description)/maps/blank.yaml" />
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
		<rosparam file="$(find custom_description)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
		<rosparam file="$(find custom_description)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
		<rosparam file="$(find custom_description)/param/local_costmap_params.yaml" command="load" />
		<rosparam file="$(find custom_description)/param/global_costmap_params.yaml" command="load" />
		<rosparam file="$(find custom_description)/param/dwa_local_planner_params.yaml" command="load" />
		<rosparam file="$(find custom_description)/param/global_planner_params.yaml" command="load" />
		<rosparam file="$(find custom_description)/param/move_base_params.yaml" command="load" />
		<rosparam file="$(find custom_description)/param/navfn_global_planner_params.yaml" command="load" />

		<rosparam file="$(arg custom_param_file)" command="load" />

		<param name="global_costmap/global_frame" value="$(arg global_frame_id)" />
		<param name="global_costmap/robot_base_frame" value="$(arg base_frame_id)" />
		<param name="local_costmap/global_frame" value="$(arg odom_frame_id)" />
		<param name="local_costmap/robot_base_frame" value="$(arg base_frame_id)" />
		<param name="DWAPlannerROS/global_frame_id" value="$(arg odom_frame_id)" />
		<remap from="cmd_vel" to="cmd_vel_mux/move_base_controller" />
	</node>-->

	<!--
	<node pkg="custom_description" type="follow_edge_node" name="followEdge" output="screen">
	<remap from="followEdge/vel" to="cmd_vel_mux/follow_edge"/>
	</node>
	-->
</launch>
