<?xml version="1.0"?>
<robot name="kobuki_standalone" 
	xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" 
	xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" 
	xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" 
	xmlns:xacro="http://ros.org/wiki/xacro">
	<!-- Defines the kobuki component tag. -->
	<xacro:include filename="$(find custom_description)/description/kobuki/urdf/kobuki.urdf.xacro" />
	<kobuki/>
	<xacro:include filename="$(find custom_description)/description/range_sensor.urdf.xacro" />
	<!-- front sensor -->
	<range_sensor name="front_sonar" parent="base_link" ros_topic="/front_range" update_rate="10" min_range="0.02" max_range="0.25" field_of_view="${15*3.1415926/180}" ray_count="1">
		<origin xyz="0.165 0.0 0.05" rpy="0 0 0" />
	</range_sensor>
	<!-- left sensor -->
	<range_sensor name="front_left_sonar" parent="base_link" ros_topic="/front_left_range" update_rate="10" min_range="0.02" max_range="0.25" field_of_view="${15*3.1415926/180}" ray_count="1">
		<origin xyz="0.11667 0.11667 0.05" rpy="0 0 ${45*3.1415926/180}" />
	</range_sensor>
	<!-- right sensor -->
	<range_sensor name="front_right_sonar" parent="base_link" ros_topic="/front_right_range" update_rate="10" min_range="0.02" max_range="0.25" field_of_view="${15*3.1415926/180}" ray_count="1">
		<origin xyz="0.11667 -0.11667 0.05" rpy="0 0 ${-45*3.1415926/180}" />
	</range_sensor>
	<range_sensor name="right_sonar" parent="base_link" ros_topic="/right_range" update_rate="10" min_range="0.02" max_range="0.25" field_of_view="${15*3.1415926/180}" ray_count="1">
		<origin xyz="0 -0.165 0.05" rpy="0 0 ${-90*3.1415926/180}" />
	</range_sensor>
</robot>